/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body
{
  background-color: rgb(79, 120, 120);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.loginForm {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
  background-color: #38caa8;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  padding: 10px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4338ca;
}

/* Submitted data box */
.resultBox {
  margin-top: 20px;
  background: #e0e7ff;
  padding: 15px;
  border-radius: 6px;
  width: 300px;
}
