/* .cardBox{
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 255, 136);
    display: inline-block;
    margin: 10px;
} */

.container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 10px;
}

.box {
  margin: 20px auto;
  width: 200px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
