.navBar {
    border: 2px solid black;
}

.navBox {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.navItems {
    margin: 20px;
    text-decoration: none;
    list-style: solid black;
    padding: 5px;
    border-radius: 6px;
}